/* src/components/Game/Game.module.css */
.game {
  max-width: 800px;
  margin: 0 auto;
}

.game__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (min-width: 768px) {
  .game__content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}