/* src/components/Square/Square.module.css */
/* Bloco BEM: square */
.square {
  width: 80px;
  height: 80px;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modificador BEM: square--occupied */
.square--occupied {
  cursor: not-allowed;
}